.third-row-wrapper {
  width: 100%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  .third-row-block {
    margin: 20px auto 52px auto;
    width: 66%;
    h1 {
      text-align: center;
      font-size: 3.5rem;
    }
    .third-row-content {
      padding: 30px 30px 20px 60px;
      .third-row-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .third-row-item {
          position: relative;
          margin-right: 32px;
          padding: 15px;
          box-sizing: border-box;
          border: 1px solid rgb(245, 245, 245);
          box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 1px;
          transition: all 0.4s;
          .third-row-item-banner {
            position: absolute;
            left: -2px;
            top: -3px;
            width: 100.8%;
            border: 3px solid #66a6ff;
            transition: all 0.4s;
          }
          .third-row-item-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
              font-size: 1.8rem;
            }
            img {
              width: 45px;
              height: 45px;
            }
          }
          p {
            margin-top: 8px;
            letter-spacing: 0.2px;
          }
        }
        .third-row-item:hover {
          background-color: #66a6ff;
          cursor: pointer;
          .third-row-item-banner {
            border: 3px solid #f6f6f6;
          }
        }
      }
    }
  }
}
